.header {
    white-space: nowrap;
    overflow-x: hidden; /* TODO figure out tab positioning; see .tab:first-of-type below */
}

.job-name-area {
    margin-top: 14px;
}

.job-label {
    padding-left: 4px;
    font-size: 14px;
    color: #7493AF;
}

.job-name {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.tab {
    display: inline-block;
    margin-top: 11px;
    padding: 4px 29px 4px 16px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    color: #7493af;
}

/* FIXME: Remove this once spreadsheet tab is implemented */
.tab.disabled {
    cursor: not-allowed !important;
}

.tab:first-of-type {
    margin-left: 72px; /* TODO figure out how we really want to position tabs wrt changing viewport width and scroll position */
}

.tab:not(.active):hover {
    color: #50f1f5;
}

.tab.active {
    background-color: #ffffff;
    color: #2a5a67;
}

.tab-body {
    background-color: #ffffff;
    min-height: 566px; /* matching height of white area on Data-02 */
}

.left-side, .right-side {
    display: inline-block;
    vertical-align: top;
}

.left-side {
    width: 706px; /* remember, fixed-full-width has 50px padding on each side */
}

.right-side {
    width: 273px; /* remember, fixed-full-width has 50px padding on each side */
}

.column-options-grouping-rollover-addition {
    padding: 3px 0 5px 8px;
}

.table-title {
    color: #1D609E;
    font-size: 10px;
}

.cluster-label, .cluster-score {
    color: #4A4A4A;
    font-size: 12px;
}

.cluster-label {
    padding: 0 10px 0 10px;
}

.cluster-score {
    text-align: right;
}

.overall {
    font-weight: 700;
}