.header {
    height: 34px;
    margin-left: -50px;
    /* compensating for fixed-full-width padding in parent */
    padding-left: 52px;
    font-size: 18px;
    line-height: 34px;
    color: #1E384E;
    background-color: #E5F0F2;
}

.heatmap-container {
    width: 760px;
}

.col-label-type-area,
.row-label-type-area {
    font-size: 12px;
    line-height: 15px;
    color: #1D609E;
}

.col-label-type-area {
    height: 46px;
    padding-top: 26px;
}

.col-label-type-area,
.col-label-block-area {
    margin-left: 98px;
}

.col-label-block {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #D8D8D8;
    border-right: 1px solid #ffffff;
}

.col-label-block:last-of-type {
    /* this gives us an extra pixel, which seems to help with fractional widths */
    /* see the comment on getWidthOfColLabel */
    border-right-color: #D8D8D8;
}

.row-label-type-area,
.row-label-block-area,
.heatmap-area {
    display: inline-block;
    vertical-align: top;
}

.row-label-type-area {
    width: 120px;
    margin-left: -50px;
    padding: 10px 18px 0 0;
    text-align: right;
}

.row-label-type-area > .btn-group > .btn {
    /* favor our styles over bootstrap's */
    font-size: inherit;
    padding: inherit;
    color: inherit;
}

.row-label-block-area {
    width: 28px;
}

.row-label-block {
    width: 28px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #D8D8D8;
    border-bottom: 1px solid #ffffff;
}

.row-label-block:last-of-type {
    border-bottom: none;
}

.heatmap-area {
    width: 600px;
}

.mini-heatmap-container {
    height: 600px;
    margin-left: -9px;
}

.mini-heatmap-title-area {
    margin-top: 7px;
    margin-bottom: 17px;
}

.label-score {
    padding-right: 5px;
    width: 109px; /* width of .miniheatmap-phenotype-name and .miniheatmap-phenotype-score */
    height: 15px;
    font-family: Lato;
    font-size: 12px;
    text-align: right;
    line-height: 15px;
    color: #666666;
}
.label-selector {
    padding-right: 14px;
    text-align: right;
    width: 420px;
}

.add-phenotype-dropdown {
    font-family: Lato;
    font-size: 12px;
    line-height: 15px;
    color: #1D609E;
}

.label-score,
.label-selector {
    display: inline-block;
    vertical-align: bottom;
}

.dropdown-checkbox {
    padding-left: 10px;
}

.fa-check-square {
    color: #7ED321;
}

.dropdown-row-type-row,
.dropdown-phenotype-row {
    cursor: pointer;
}

.dropdown-row-type-option,
.dropdown-phenotype-name {
    padding-left: 10px;
    font-family: Lato;
    font-size: 14px;
    line-height: 29px;
    color: #000000;
}

.minimap-phenotype-name {
    padding-right: 5px;
    width: 76px;
    height: 30px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    line-height: 15px;
    color: #29465F;
    /* poor support
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-lines: 2;
    text-overflow: ellipsis;
    */
    overflow: hidden;
}

.minimap-phenotype-score {
    padding: 2px 5px 0 0;
    width: 33px;
    height: 30px;
    font-family: Lato;
    font-size: 12px;
    text-align: right;
    line-height: 15px;
    color: #666666;
}

.minimap-area {
    width: 420px;
    height: 36px;
    margin-bottom: 11px;
}

.minimap-colors {
    margin-top: 4px;
}

.color-gradient {
    margin-left: 14px;
    box-sizing: border-box;
    width: 132px;
    height: 27px;
    border: 3px solid #29465F;
    border-radius: 3px;
    cursor: pointer;
}

.color-palette {
    margin-left: 14px;
    box-sizing: border-box;
    width: 132px;
    height: 27px;
    border: 3px solid #29465F;
    border-radius: 3px;
    cursor: pointer;
}

.category-color-table {
    width: 100%;
    height: 100%;
    margin: auto;
}

.minimap-phenotype-name,
.minimap-phenotype-score,
.minimap-area,
.minimap-colors {
    display: inline-block;
    vertical-align: top;
}

.colorbox-rollover-container {
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}

.colorbox-rollover-header {
    padding: 10px 10px 10px 10px;
    font-family: Lato;
    font-size: 18px;
    line-height: 22px;
    color: #1E384E;
}

.colorbox-rollover-phenotype-name {
    margin-right: 100px;
}

.colorbox-rollover-colors {
    margin-left: 10px;
}

.colorbox-rollover-number {
    margin-top: 10px;
    margin-bottom: 10px;
}

.colorbox-rollover-gradient {
    box-sizing: border-box;
    width: 135px;
    height: 21px;
    border: 1px solid #29465F;
    border-radius: 1px;
}

.colorbox-rollover-gradient-label {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #666
}

.range-max {
    padding-left: 120px;
}

.colorbox-rollover-category {
    padding-bottom: 10px;
}

.colorbox-rollover-palette-square {
    width: 21px;
    height: 21px;
    border: 1px solid #29465F;
}

.colorbox-rollover-palette-label {
    padding-left: 7px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    color: #29465F;
}

/* override bootstrap styling */
.mini-heatmap-title-area .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mini-heatmap-title-area .btn {
    padding: 0;
}