.stats-container {
    border-left: 1px solid #C7C7C7;;
    min-height: 566px; /* matching height of white area on Data-02 */
}

.header {
    height: 34px;
    margin-right: -50px; /* compensating for fixed-full-width padding in parent */
    padding-left: 13px;
    font-size: 18px;
    line-height: 34px;
    color: #1E384E;
    background-color: #E5F0F2;
}

.cluster-summary-container {
    padding: 8px 0 0 17px;
}

.cluster-summary-container .cluster-name {
    width: 149px;
}

.cluster-summary-container .sample-count {
    width: 63px;
}

.cluster-summary-container .quality-score {
    width: 131px;
}

.cluster-summary-container th {
    font-size: 12px;
    line-height: 25px;
    color: #1D609E;
}

.cluster-summary-container td {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.cluster-summary-container .sample-count, .cluster-summary-container .quality-score {
    text-align: right;
}

.cluster-summary-container td.sample-count, .cluster-summary-container td.quality-score {
    padding-right: 9px;
}