.tab-pane:not(.active) {
  display: none;
}

/* the following styles come from mmbdb comps. if/when other tabsets need
 * different styling, make sure the mmbdb app retains these
 */
ul.nav.nav-tabs {
  background-color: #5e778e;
}

ul.nav.nav-tabs > li.active > a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #273847;
  background-color: #ffffff;
}

ul.nav.nav-tabs > li:not(.active) > a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #ecf0f4;
  cursor: default;
}

ul.nav.nav-tabs > li:hover > a {
  color: #273847;
}

.nav>li>a {
    padding: 10px 24px;
}