<div class="tree-explorer-row" [style.width.px]="nodeForTable ? width + 1240 : width">
    <svg [attr.width]="width + marginLeft + marginRight" [attr.height]="currentHeight + marginTop + marginBottom">
        <g [attr.transform]="'translate(' + marginLeft + ',' + marginTop + ')'">
            <g class="vlines">
                <g *ngFor="let level of levelNames; let i=index" [attr.transform]="'translate(' + getXForDepth(i+numTopHiddenLevels) + ',0)'">
                    <text class="level" text-anchor="middle">{{level | uppercase}}</text>
                    <line class="level" x1="0" y1="5" x2="0" [attr.y2]="currentHeight"></line>
                </g>
            </g>
            <ng-template ngFor let-link [ngForOf]="shownLinks">
                <path *ngFor="let cohort of link.target.cohortNodesDisplayData; let cohortIndex=index" class="link" [ngClass]="'cohort'+cohortIndex" [attr.d]="cohort.linkPath" [attr.stroke-width]="adjustThicknessForDisplay(cohort.height)"></path>
            </ng-template>
            <g *ngFor="let node of shownNodes" [ngClass]="'node' + (node.children ? ' expanded' : '')" [attr.transform]="'translate(' + node.x + ',' + node.y + ')'" (click)="onNodeClick(node)">
                <rect *ngFor="let cohortNode of node.cohortNodesDisplayData; let cohortIndex=index" [ngClass]="'cohort cohort'+cohortIndex" [attr.x]="nodeWidth/-2" [attr.width]="nodeWidth" [attr.y]="cohortNode.y" [attr.height]="adjustThicknessForDisplay(cohortNode.height)"></rect>
                <g *ngIf="node.getFeatureCount(topOtuThreshold) > 0">
                    <circle r="9" class="feature-count"></circle>
                    <text class="feature-count" text-anchor="middle" dy=".35em">{{node.getFeatureCount(topOtuThreshold)}}</text>
                </g>
                <text [attr.x]="nodeWidth/2 + 6" dy=".35em" text-anchor="start" class="node-name">{{node.comparisonNode.name}}</text>
            </g>
        </g>
    </svg>
    <div class="table-container">
        <tree-detail-table *ngIf="nodeForTable" [parentNode]="nodeForTable" [topOtuThreshold]="topOtuThreshold"></tree-detail-table>
    </div>
</div>
