.table-container {
    width: 859px;
    height: 528px;
    background-color: #ffffff;
}

.header-area {
    margin-bottom: 10px;
}

th {
    font-size: 12px;
    color: #1d609e;
    padding-top: 6px;
    padding-bottom: 6px;
}

th.project {
    padding-left: 21px;
    width: 193px;
}

th.tags {
    text-align: center;
    width: 495px;
}

th.search {
    width: 100%;
}

td.project {
    padding-left: 10px;
}

.project-selector {
    padding-left: 5px;
    width: 183px;
    height: 29px;
    border-radius: 5px;
    font-size: 18px;
    color: #4a4a4a;
    border-color: #d8d8d8;
}

td.tags {
    padding-left: 24px;
}

.tag {
    margin: 0 4px 0 4px;
    padding: 1px 15px 3px 15px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background-color: #d8d8d8;
    border-radius: 16px;
    /*cursor: pointer;*/
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
}

.tag-divider {
    width: 1px;
    height: 28px;
    background-color: #d8d8d8;
    display: inline-block;
    vertical-align: middle;
}

td.search {
    text-align: right;
    padding-right: 18px;
}

.fa-search {
    cursor: pointer;
    font-size: 16px;
}

.table-area {
    height: 459px;
    border-top: solid 1px #7493af;
}

.btn.upload-new-data {
    height: 29px;
    width: 162px;
    border-radius: 5px;
    background-color: #7493AF;
    margin-left: 667px;
    margin-bottom: 9px;
    padding: 0;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.upload-new-data-area {
    padding-top: 14px;
    background-color: #7493AF;
}

.upload-new-data-x {
    height: 43px;
    width: 186px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #7493AF;
    margin-left: 667px;
    padding-top: 7px;
    color: #FFFFFF;
    white-space: pre;
    font-family: Lato;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.close-upload {
    cursor: pointer;
}

.drop-browse-url-area {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.drop-browse,
.enter-url,
.cloud-icon,
.drop-text {
    display: inline-block;
    vertical-align: top;
}

.drop-browse {
    box-sizing: border-box;
    height: 38px;
    width: 415px;
    border: 1px solid #4F6579;
    border-radius: 3px;
    background-color: #68849D;
    margin: 0 15px 0 9px;
    padding-top: 6px;
}

.cloud-icon {
    margin: 0 9px 0 9px;
}

.drop-text {
    margin: 0 9px 0 9px;
    font-size: 18px;
    font-style: italic;
    color: #FFFFFF;
}

input[type="file"] {
    display: none;
}

.browse-text {
    display: inline-block;
    color: #FFFFFF;
    cursor: pointer;
}

.browse-text:hover {
    text-decoration: underline;
}

.enter-url {
    width: 413px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #d8d8d8;
    margin: 13px 25px 0 0;
    padding-top: 6px;
}

.url-input {
    font-size: 14px;
    color: #4a4a4a;
    width: 284px;
    border: none;
    margin: 0 10px 0 10px;
}

.url-input::-webkit-input-placeholder {
    font-style: italic;
}

.url-input:-ms-input-placeholder {
    font-style: italic;
}

.url-input:-moz-placeholder {
    font-style: italic;
}

.url-input::-moz-placeholder {
    font-style: italic;
}

.get-button {
    height: 18px;
    border-radius: 3px;
    background-color: #7493af;
    font-size: 14px;
    padding: 0 10px 0 10px;
    line-height: 1;
    color: #ffffff;
}

.get-button[disabled] {
    background-color: #c6d8e8;
}

.gene-paste-btn-area {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}

.gene-paste-btn {
    height: 32px;
    width: 172px;
    border: 1px solid #1E384E;
    border-radius: 5px;
    background-color: #1D609E;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.modal-container {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-65%, -20%);
    z-index: 103;
}