.scrollable-area {
    height: 459px;
}

table {
    width: 100%;
}

td {
    color: #000000;
    line-height: 1.79;
    border-bottom: solid 1px #d8d8d8;
    height: 56px;
}

.icon {
    padding-left: 11px;
    width: 68px;
}

.icon img {
    width: 20px;
}

.info {
    width: 356px;
}

.project {
    width: 395px;
    font-size: 12px;
    color: #4a4a4a;
    padding-top: 20px;
}

.project .fa-spinner {
    color: #07abaf;
    font-size: 16px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.project-name {
    font-weight: 700;
    color: #1d609e;
}

.actions {
    width: 40px;
}

.name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.21;
    color: #000000;
}

.upload, .size {
    display: inline-block;
    color: #4a4a4a;
    font-size: 12px;
}

.size {
    margin-left: 16px;
}

tr {
    cursor: pointer;
}

tr:hover, tr.selected {
    background-color: #EEEEEE;
}

.fa-circle {
    font-size: 4px;
    color: #ffffff;
    position: relative;
    top: -3px;
}

tr:hover .fa-circle, tr.selected .fa-circle {
    color: #b5d1eb;
}

.actions:hover .fa-circle {
    color: #1d609e;
}

.context-menu-container {
    position: fixed;
    padding: 15px;
    z-index: 102;
}

.create-new-project {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #1D609E;
    cursor: not-allowed;
}

.project-button {
    box-shadow: none;
    padding: 0;
    background-color: none;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    color: #1d609e;
}

.btn-group.open .project-button {
    background-color: #CAE1F5;
    box-shadow: none;
}

.project-name-list {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    color: #4A4A4A;
    padding-left: 24px;
    text-align: left;
}

.progress {
	height: 7px;
	width: 240px;
}

.progress-percent {
    margin-left: 12px;
	color: #000000;
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

.progress, .progress-percent {
    display: inline-block;
    text-align: center;
}
