.response-plot {
	box-sizing: border-box;
	height: 33px;
	width: 235px;
	margin-top: 18px;
	border-bottom: 1px solid #5E6F7E;
}

.plot-line {
	fill: none;
	stroke: #07ABAF;
	stroke-width: 2px;
	stroke-linejoin: round
}

.num-top-feature-line {
	stroke: #FFFFFF;
	stroke-width: 1px
}