.secondary-visualization-area {
    box-shadow: 0px -1px -1px rgba(0, 0, 0, .5);
    border-top: 3px solid #d8d8d8;
    padding-top: 17px;
    font-size: 13px;
    margin-left:-50px;
    margin-right:-50px;
    background-image: url("img/knoweng/linen.png");
}

/* 
  When adjusting left/middle/right-pane, be sure to
  also adjust the same classes in ./PrimaryVisualization.css
*/

.left-pane, .right-pane {
    display: inline-block;
    vertical-align: top;
}

.left-pane {
    width: 158px; /* remember, fixed-full-width has 50px padding on each side */
    padding-left: 30px;
}

.right-pane {
    min-width: 848px; /* remember, fixed-full-width has 50px padding on each side */
    padding-left: 42px; /* adjust this if/when PrimaryVisualization margins change */
}

.mini-heatmap-container {
    height: 600px;
    margin-left: -35px;
}

.label-score {
    height: 15px;
    font-family: Lato;
    margin-left: 25px;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    color: #1D609E;
    display: inline-block;
    vertical-align: bottom;
    border: none;
    background-color: inherit;
}

.label-score:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btnd:active,
.btnd:focus,
.btnd.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.minimap-row-name {
    padding-right: 5px;
    width: 76px;
    height: 30px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    line-height: 10px;
    word-break: break-all;
    overflow: hidden;
    
    color: #1D609E;
    
    /* NOTE: "hyphens" is unsupported in Chrome for Windows 
    See https://caniuse.com/#search=hyphens */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    
    /* poor support 
    hyphenate-limit-lines: 2;
    text-overflow: ellipsis;*/
}

.minimap-row-score {
    padding: 2px 5px 0 0;
    width: 33px;
    height: 30px;
    font-family: Lato;
    font-size: 12px;
    margin-left: 25px;
    text-align: right;
    line-height: 15px;
    color: #1D609E;
}

.minimap-area {
    width: 750px;
    height: 36px;
    margin-bottom: 11px;
}

.minimap-colors {
    margin-top: -2px;
    margin-left: 29px;
}

.minimap-row-name,
.minimap-row-score,
.minimap-area,
.minimap-colors {
    display: inline-block;
    vertical-align: top;
}

.show-rows-btn {
    background-color: #35516A;
    width: 133px;
    margin-top: 17px;
    font-size: 12px;
    padding: 3px 5px 3px 5px;
    color: white;
    text-align: left;
}

.show-rows-btn i {
    margin-top: 2px;
    margin-right: 12px;
    color: #B5D1EB;
    font-size: 14px;
    line-height: 12px;
}

.panel-heading {
    font-size: 18px;
    font-family: Lato;
    background-color: #29465F;
    width: 741px;
    color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-subheading {
    font-size: 12px;
}

.mini-heatmap-row-selector {
    margin-top: 17px;
}
