<div class="text-container">
    <hr>
    <div class="intro">
        Welcome to the KnowEnG Platform. KnowEnG enables knowledge-guided
        machine learning and graph mining analysis on genomic datasets using
        scalable cloud computation and exploration of results with interactive
        visualizations.  We hope you find it useful and we welcome your
        <a href="//hub.knoweng.org/support/tickets" target="_blank">feedback</a>.
    </div>
    <div class="section">
        <a href="//knoweng.org/quick-start/" class="button btn" target="_blank">Read the Quickstart Guide</a>
        <p>
            To get started immediately, check out our
            <a href="//knoweng.org/quick-start/" target="_blank">Quickstart Guide</a> for
            examples using our three available analysis pipelines.  Also,
            watch out for the release of additional
            <a href="//knoweng.org/pipelines" target="_blank">Knowledge-Guided Pipelines</a>
            that are currently in development. For a more comprehensive set of
            resources, visit our <a [routerLink]="['/support']">Support</a>
            page.
        </p>
    </div>
    <div class="section">
        <a href="//knoweng.org/kn-overview" class="button btn" target="_blank">Learn About the Knowledge Network</a>
        <p>
            The knowledge-guided analyses use the KnowEnG Knowledge Network,
            which integrates many and varied public biological datasets of
            gene/protein interactions, relationships, and annotations. Explore
            information about the Knowledge Network and how it can be used in
            the KnowEnG platform pipelines
            <a href="//knoweng.org/kn-overview" target="_blank">here</a>.
        </p>
    </div>
    <div class="section">
        <a href="//www.youtube.com/channel/UCjyIIolCaZIGtZC20XLBOyg" class="button btn youtube" target="_blank"><i class="fa fa-youtube-play"></i><span>Visit the KnowEnG YouTube Channel</span></a>
        <p>
            The KnowEnG YouTube Channel provides tutorials on how to set up, run
            and explore results for each pipeline. More videos are in
            development and will be added to the channel as they become
            available. Access to the tutorial videos is also available from our
            <a [routerLink]="['/support/about']">Support</a> page.
        </p>
    </div>
</div>